<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col-phone">
        <form>
            <label for="email">Adresse email</label>
            <input type="email" id="email" required name="email" #registerEmail />
            <label for="username">Pseudonyme</label>
            <input type="text" id="username" required name="username" #registerUsername />
            <label for="password">Mot de passe</label>
            <input type="password" id="password" required name="password" #registerPassword />
            <label for="passowrd_secondary">Mot de passe (à répéter)</label>
            <input type="password" id="passowrd_secondary" required
                   name="password_secondary" #registerPasswordSecondary />
            <button type="submit" class="button secondary"
                    (click)="register(
                        registerEmail.value,
                        registerUsername.value,
                        registerPassword.value,
                        registerPasswordSecondary.value
                    )">
                Créer un compte
            </button>
        </form>
    </div>
</div>